@if (User.Identity.IsAuthenticated)
{
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                @*<form method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
                    <a asp-controller="Account" asp-action="">@User.Identity.Name</a>
                    <input type="submit" class="ml-2 btn btn-link" value="Logout">
                </form>*@
        <li class="nav-item">
            <a id="myUrlsButton" href="#" class="nav-link text-dark">My URLs</a>
        </li>
                <li class="nav-item">
                    @*<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Info">@User.Identity.Name</a>*@
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Info"><div id="partialContainer"></div></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>
                </li>
            </li>
        </ul>
}
else
{
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a>
            </li>
        </ul>
}
