@model ShortUrl.Web.ViewModels.SignInViewModel

<div class="container">
    <main role="main" class="pb-3">
        <form asp-controller="Account" asp-action="SignIn" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-check-label">
                <div class="text-center">
                    <h2>Sign in to your account</h2>
                </div>

                <div class="form-floating mt-4">
                    <input class="form-control" asp-for="Email" type="text" placeholder="Enter Email" required>
                    <label asp-for="Email"><b>Email</b></label>
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="form-floating mt-4">
                    <input class="form-control" asp-for="Password" type="password" placeholder="Enter Password" required>
                    <label asp-for="Password"><b>Password</b></label>
                    <span asp-validation-for="Password"></span>
                </div>

                <br />
                <div>
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>

                <button class="btn btn-primary btn-lg mt-3" type="submit">Sign In</button>
            </div>
        </form>
    </main>
</div>
