@{
    ViewData["Title"] = "ShortUrl";
}



<div class="container-fluid">
    <div class="row flex-nowrap">
        <main class="col ps-md-2 pt-2">
            <div class="flex-container">
                <div class="form">
                    <div class="row">
                        <label>Shorten a long URL</label>
                        <div class="horizontal-item">
                            <input id="url-field" type="text" placeholder="Enter long link here" />
                            <span id="url-error"></span>
                        </div>

                        <label>Customize your link</label>
                        <div class="horizontal-item">
                            <input id="alias-field" type="text" placeholder="Enter alias" />
                            <span id="alias-error">Alias must be at least 5 alphanumeric characters</span>
                        </div>


                        <div class="horizontal-item-buttons">
                            <button id="goToUrlButton" onclick="goToUrl()">Go to URL</button>
                            <button id="copyUrlButton" onclick="copyUrl()">Copy URL</button>
                        </div>
                        <div id="shorten-button-horizontal-item">
                            <button id="shortenbutton" class="btn btn-primary btn-lg mt-3" onclick="shortenUrl()">Shorten URL</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0">
                </div>
            </div>
        </div>

    </div>
</div>

<style>

</style>